def name = new File(params.r1).name
def pair_id = name.contains('_S') ?
            name.split('_S')[0] :
            name.contains('_R') ?
            name.split('_R')[0] :
            name

workDir = "${params.output}/${pair_id}/work"
NXF_CACHE_DIR = "${params.output}"

includeConfig 'local.config'

params {
    ercc = false
    ndata = null
    na = "rna"
    cov_stats = "${baseDir}/assets/reads_mapped_to_contigs.cov_stats"
    table_summary = "${baseDir}/assets/table_template.html"
    pipeline_template = "${baseDir}/assets/pipeline_template.html"
    params.read_length = params.read_length ?: 150
    params.qualified_quality_phred = params.qualified_quality_phred ?: 15
    params.unqualified_percent_limit = params.unqualified_percent_limit ?: 45
    params.length_required = params.length_required ?: 35
    params.threads = params.threads ?: 4
    params.srmode = params.srmode ?: "blast"
    params.nrmode = params.nrmode ?: "diamond"
    params.max_read_length = params.max_read_length ?: 100
    params.min_read_length = params.min_read_length ?: params.length_required
    params.split_memory_limit = params.split_memory_limit ?: "90G"
}